/* Animation of input when focus */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { transition: .2s; }
input:-moz-placeholder, textarea:-moz-placeholder { transition: .2s; }
input::-moz-placeholder, textarea::-moz-placeholder { transition: .2s; }
input:-ms-input-placeholder, textarea:-ms-input-placeholde { transition: .2s; }
input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholde { opacity: 0; }
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder { opacity: 0; }
input:focus:-moz-placeholder, textarea:focus:-moz-placeholder { opacity: 0; }
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder { opacity: 0; }
/* Disabled display of border when focus on element */
*:focus { outline: 0; }
/* Make text look crisper and more legible in all browsers */
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    padding-right: 0px !important;
}
/* Focus state style for keyboard navigation for the focusable elements */
*[tabindex]:focus-visible,
input[type="file"]:focus-visible {
    outline: 0.125rem solid #4d65ff;
    outline-offset: 0.125rem;
}
/* Get rid of top margin on first element in any rich text element */
.w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
    margin-top: 0 !important;
}
/* Get rid of bottom margin on last element in any rich text element */
.w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0 !important;
}
/* Prevent all click and hover interaction with an element */
.pointer-events-off { pointer-events: none; }
/* Enables all click and hover interaction with an element */
.pointer-events-on { pointer-events: auto; }
/* Make sure containers never lose their center alignment */
.container-medium,.container-small, .container-large {
    margin-right: auto !important;
    margin-left: auto !important;
}

a,
.w-input,
.w-select,
.w-tab-link,
.w-nav-link,
.w-dropdown-btn,
.w-dropdown-toggle,
.w-dropdown-link {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
}

/* Apply "..." after 3 lines of text */
.text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
/* Apply "..." after 2 lines of text */
.text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* Adds inline flex display */
.display-inlineflex { display: inline-flex; }
/* These classes are never overwritten */
.hide {
    display: none !important;
}
@media screen and (max-width: 991px) {
    .hide, .hide-tablet {
        display: none !important;
    }
}
@media screen and (max-width: 767px) {
    .hide-mobile-landscape{
        display: none !important;
    }
}
@media screen and (max-width: 479px) {
    .hide-mobile{
        display: none !important;
    }
}

.margin-0 { margin: 0rem !important; }
.padding-0 { padding: 0rem !important; }
.spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
}
.margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}
.padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}
.margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
}
.padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
}
.margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}
.margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
}
.padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
}
.margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
}
.padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
}
.padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
}

/*Fluid responsive */
html { font-size: 1rem; }
@media screen and (max-width: 1600px) and (min-width: 992px) {
    html { font-size: 1vw; }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
    html { font-size: 1.2vw; }
}

/*Show text inside point wrap
.point-wrap.active .point-text {
  opacity: 100%;
  display: block;
}*/

/*Show text inside FAQ*/
.item-wrap.opened .answer-wrap {
    height: auto;
}

.item-wrap.opened .answer-wrap .text-size-small.is-answer {
    opacity: 100%;
    transform: translate(0, 0);
}

.item-wrap.opened .minus-line {
    opacity: 60%;
}

.item-wrap.opened .vertical-line {
    opacity: 0%;
}

/*Active state for users review*/
.user-item.active .user-name {
    color: #98FEFA;
}

.user-item.active .user-avatar-wrap {
    border-color: #CBFEF8;
}

.posts-highlighted-item:first-child {
    grid-row: 1/3;
}

.posts-highlighted-item:first-child .highlighted-post {
    height: 100%;
    min-width: 49.6rem;
    padding: 3.5rem 4.5rem;
}

.posts-highlighted-item:first-child .heading-h4.is-post-name {
    font-size: 2.5rem;
    max-width: 100%;
}

/* Scrollbar none visible */
.categories-wrap {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb:hover {
    background: transparent;
}

/** hero preview **/
@media screen and (min-width: 570px) {
    [data-hero-preview]:not(:nth-child(1)) {
        display: none;
    }
}

@media screen and (max-width: 569px) {
    [data-hero-preview]:not(:nth-child(2)) {
        display: none;
    }
}

@media screen and (min-width: 570px) {
    .two-images {
        display: flex;
        column-gap: 1.5rem;
    }
}

@media screen and (max-width: 569px) {
    .two-images {
        flex-direction: column;
        row-gap: 1.5rem;
    }
}

input[type="file"] {
    display: none;
}

/** Close button in header mobile **/
@media screen and (max-width: 768px) {
    .nav-bar__m-button.w-nav-button.w--open .nav-bar_m-button-close-icon {
        display: block;
    }

    .nav-bar__m-button.w-nav-button.w--open .nav-bar__m-button-icon {
        display: none;
    }
}

/** State for input inside form **/
.subscribe-input:not(:placeholder-shown) {
    color: white;
}

/** Current page in pagination **/
.page-number.w--current {
    background: #CBFEF8;
    color: #05051B;
}

/** Stiles for video inside article **/
@media screen and (min-width: 569px) {
    .post-video {
        height: 29rem;
    }
}

@media screen and (max-width: 568px) {
    .post-video {
        height: 11.5rem;
    }
}
